<p class="imp-heading">{{script.name}}</p>
<div class="imp-comment-container" [ngStyle]="{height: screenHeight+'px'}">
  <ng-scrollbar visibility="hover">
    <div nz-row class="imp-comment-row">
      <div nz-col nzSpan="18">
        <span class="imp-comment-left">Алло!</span>
      </div>
    </div>
    <div nz-row class="imp-comment-row">
      <div nz-col nzOffset="6" nzSpan="18" class="imp-align-right">
        <span class="imp-comment-right">Здравствуйте! Меня зовут Лана, чем могу вам помочь?</span>
      </div>
    </div>
    <div nz-row class="imp-comment-row">
      <div nz-col nzSpan="18">
        <span class="imp-comment-left">Звоню по поводу аренды квартиры в Сормово!</span>
      </div>
    </div>
    <div nz-row class="imp-comment-row">
      <div nz-col nzSpan="18">
        <span class="imp-comment-left">Алло!</span>
      </div>
    </div>
    <div nz-row class="imp-comment-row">
      <div nz-col nzOffset="6" nzSpan="18" class="imp-align-right">
        <span class="imp-comment-right">Здравствуйте! Меня зовут Лана, чем могу вам помочь?</span>
      </div>
    </div>
    <div nz-row class="imp-comment-row">
      <div nz-col nzSpan="18">
        <span class="imp-comment-left">Звоню по поводу аренды квартиры в Сормово!</span>
      </div>
    </div>
    <div nz-row class="imp-comment-row">
      <div nz-col nzSpan="18">
        <span class="imp-comment-left">Алло!</span>
      </div>
    </div>
    <div nz-row class="imp-comment-row">
      <div nz-col nzOffset="6" nzSpan="18" class="imp-align-right">
        <span class="imp-comment-right">Здравствуйте! Меня зовут Лана, чем могу вам помочь?</span>
      </div>
    </div>
    <div nz-row class="imp-comment-row">
      <div nz-col nzSpan="18">
        <span class="imp-comment-left">Звоню по поводу аренды квартиры в Сормово!</span>
      </div>
    </div>
    <div nz-row class="imp-comment-row">
      <div nz-col nzSpan="18">
        <span class="imp-comment-left">Алло!</span>
      </div>
    </div>
    <div nz-row class="imp-comment-row">
      <div nz-col nzOffset="6" nzSpan="18" class="imp-align-right">
        <span class="imp-comment-right">Здравствуйте! Меня зовут Лана, чем могу вам помочь?</span>
      </div>
    </div>
    <div nz-row class="imp-comment-row">
      <div nz-col nzSpan="18">
        <span class="imp-comment-left">Звоню по поводу аренды квартиры в Сормово!</span>
      </div>
    </div>

  </ng-scrollbar>
</div>
  <div class="imp-control-container" id="control-container">
  <div class="imp-control">
    <span nz-icon nzType="eye" class="imp-control-icn-lt"></span>
    <span class="imp-control-msg" >Хорошо, вы для себя? Хорошо, вы для себя? Хорошо, вы для себя? Хорошо, вы для себя? Хорошо, вы для себя?</span>
    <span nz-icon nzType="pause" class="imp-control-icn-rt"></span>
  </div>
  <img src="assets/mic.svg" class="imp-control-btn" />
  <img src="assets/back.svg" class="imp-control-btn" (click)="showDesc()"/>
</div>


