<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your email!">
      <nz-input-group nzPrefixIcon="mail">
        <input type="text" nz-input formControlName="email" placeholder="E-mail" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Request code</button>
  Or
  <a href="login">sign in!</a>
</form>
